---
interface Props {
  size?: "default" | "narrow";
  class?: string;
}

const { size = "default", class: className } = Astro.props;
---

<div
  class:list={[
    size === "narrow" ? "container-narrow" : "container-content",
    className,
  ]}
>
  <slot />
</div>
